body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.lista-pokemon-li{
  list-style: none;

}
#root{
  display: flex;
  gap: 150px;
}
.lista-pokemon-contenedor{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
